@use 'theme' as *;

.create-page {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Google Sans', sans-serif;

  @include themed() {
    background-color: t('bg-main');
  }
}

.create-container {
  position: relative;
  display: flex;
  align-items: stretch;
  width: fit-content;
  min-width: 700px;
  height: calc(100vh - 56px);
  margin: 34px auto 20px;
  border-radius: 34px;
  padding: 12px 14px 12px 16px;
  overflow: hidden;

  @include themed() {
    border: 1px solid t('border-light');
  }
}

.create-scroll-host {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.create-scroll-host--with-scrollbar {
  padding-right: 12px;
}

.create-scroll-host::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom-scrollbar {
  position: absolute;
  top: 52px;
  right: 12px;
  bottom: 52px;
  width: 12px;
  padding-right: 6px;
  display: flex;
  justify-content: center;
}

.custom-scrollbar__track {
  position: relative;
  width: 10px;
  height: 100%;
  border-radius: 999px;
  background-color: #474747;
}

.custom-scrollbar__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 999px;
  background-color: #8f8f8f;
  cursor: grab;
}

.custom-scrollbar__thumb:active {
  cursor: grabbing;
  background-color: #a0a0a0;
}

:host-context(body) {
  overflow: hidden; /* Ensure page scrollbar never appears */
}

.create-step {
  width: 100%;
  min-height: 100%;
}

.step-title {
  text-align: center;
  font-size: 43px;
  font-weight: 400;
  margin-top: 100px;
  font-family: 'Google Sans', sans-serif;

  @include themed() {
    color: t('text-main');
  }
}
